<table class="list working_hours">
  <thead>
    <tr>
      <th><%= l(:label_project) %></th>
      <th><%= l(:label_issue) %></th>
      <th><%= l(:label_date) %></th>
      <th><%= l(:field_starting) %></th>
      <th><%= l(:field_break) %></th>
      <th><%= l(:field_ending) %></th>
      <th><%= l(:label_comment) %></th>
      <th><%= l(:label_duration) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% for entry in working_hours %>
    <tr>
      <td><%= link_to entry.project.name, project_path(entry.project) unless entry.project.nil? %></td>
      <td><%= link_to "##{entry.issue_id} #{truncate(h(entry.issue.subject), :length => 30)}", issue_path(entry.issue) unless entry.issue.nil? %></td>
      <td><%= entry.workday.to_formatted_s(:european) %></td>
      <td><%= to_time_s(entry.starting, entry.workday) unless entry.starting.nil? %></td>
      <td><%= duration(entry.break) %></td>
      <td><%= to_time_s(entry.ending, entry.workday) unless entry.ending.nil? %></td>
      <td><%= truncate(h(entry.comments), :length => 30) %></td>
      <td><%= duration(entry.minutes) %></td>
      <td><%= link_to l(:button_edit), edit_working_hour_path(entry), :class => 'icon icon-edit' %></td>
      <td><%= link_to l(:button_delete), working_hour_path(entry), :method => :delete, :confirm => l(:text_are_you_sure), :class => 'icon icon-del' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p class="pagination"><%= pagination_links_full @working_hour_pages, @working_hour_count %></p>

<%= l(:label_total_time) %>: <%= duration(@minutes_total) %> <%= "(#{'%.1f' % (@minutes_total/60.0)}h)" if @minutes_total >= 60 %>
