<h2><%= l(:label_working_hours_new) %></h2>

<%= labelled_form_for @working_hours, :url => working_hours_path do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag l(:button_create) %>
<% end %>

<p><%= link_to l(:button_back), working_hours_path %></p>
